{# src/NL/PlatformBundle/Resources/views/advert/index.html.twig #}

{% extends "NLPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block nlplatform_body %}

    <h2>Liste des annonces</h2>

    <div>
        {% for advert in listAdvert %}
            <div style=" background-color:#cccccc; width: 200px; height:300px; float: left; margin-top: 50px; margin-left: 10px; box-shadow: 3px 3px 10px black">

                <a href="{{ path('nl_platform_view', {'id': advert.id}) }}">

                    <div style=" height: 30px;">{{ advert.title }}</div>

                    {% if advert.image is defined %}
                        <br><img src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}" width=200px height=200px style=""><br>
                    {% endif %}    

                </a>

                <p style="margin: 10px;">
                    Le {{ advert.date|date('d/m/Y') }}, par {{ advert.author }}
                </p>

            </div>
        {% else %}
            <div>Pas (encore !) d'annonces</div>
        {% endfor %}
    </div>



{% endblock %}