{# src/NL/PlatformBundle/Resources/views/advert/index.html.twig #}

{% extends "NLPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block nlplatform_body %}

    <h2>Liste des annonces</h2>

    <ul>
        {% for advert in listAdvert %}
            <li>
                <img src="{{ advert.image.url }}" width="400px" height="150px"><br>
                <a href="{{ path('nl_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>

{% endblock %}